/* font-family: 'Poppins', sans-serif;

font-family: 'Staatliches', cursive; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before{
  content: '';
  position: fixed;
  z-index: -1;
  top:0;
  left: 0;
  background: #535971;
  width: 100%;
  height: 436px;
}

body{
  background: #E5E5E5;
}

header{
  width: 750px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin:140px auto 58px;

}

header h1{
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}

header p{
  font-family: 'Poppins', sans-serif;
  width: 417px;
  font-size: 20px;
  line-height: 30px;
}

header h1, header p{
  color: #FFF;
}


form,footer{
  width: 750px;
  margin: 0 auto 0;
}

form{
  background-color: #FFF;
  height: 1084px;
  padding: 64px;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
}

.subfieldset:nth-child(2){
  margin-top: 16px;
}

.subfieldset{
  border: 0;
  font-size: 20px;
  margin-bottom: 8px;

}

fieldset{
  border: none;
  line-height: 34px;
  font-family: 'Staatliches', cursive; 
  color: #535971;
  border-bottom: 1px solid #E6E6F0;
  width:100%;
}

.category-divider{
  
  padding-bottom: 8px;
}

.category-divider, .first-fieldset{
  font-size: 24px;
  margin-bottom: 32px;
}

.first-fieldset{
  padding-bottom: 16px;
}


form .form-content + .fieldset-wrapper{
  margin-top: 30px;
}

.form-content{
  display: flex;
  flex-direction: column;
  gap:16px;
}

.input-wrapper span{
  color: #C1BCCC;
  font-size: 12px;
  line-height: 20px;
}

.input-wrapper span:hover{
  color:#5f5c65
}


.input-wrapper{
  color: #4E4958;
  font-family: 'Poppins', sans-serif;
  font-size:14px;
  line-height:24px;
}

.many-colls .input-wrapper{
  
  display: flex;
  flex-direction: column;
  width: 100%;
}

.many-colls{
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.input-wrapper input{
  width: 100%;
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  height: 56px;
  margin-top: 8px;
  padding: 0 10px;
}


footer{
  background: #535971;
  border-radius: 0 0 20px 20px;
  height: 160px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px 71px;
}

footer .button{
  font-family: 'Staatliches', cursive; 
  font-size: 20px;
  line-height: 26px;
  color: #FFF;

  background: #FF5374;
  padding: 15px 40px;
  border-radius: 20px;
  border: 0;
  
  height: 56px;
  width: 608px;
}

.form-content + fieldset{
  margin-top: 16px;
}

input:invalid{
  border: 2px solid #FF5374;
  color:#FF5374;
}