/* font-family: 'Poppins', sans-serif;

font-family: 'Staatliches', cursive; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #BFD7E4;
}

h1, fieldset, button{
  font-family: 'Staatliches', cursive;
}

h1, fieldset:nth-child(1), p, button{
  color: #FFF;
}

.input-wrapper label{
color:   #4E4958;
margin-bottom: 8px;
font-size: 14px;
line-height: 24px;

}

span{
  color: #C1BCCC;
  font-size: 12px;
  line-height: 20px;
}

img{
  height: 100px;
  width: 225px;
}

span:hover{
  color: #626068;
}

h1{
  font-size: 36px;
  line-height: 45px;
  height: 45px;
}

p{
  font-size: 16px;  
  line-height: 24px;
  height:45px;
}

fieldset{
  border: 0;
  font-size:24px;
  line-height:34px;
}

body::before{
  content: '';
  width: 100%;
  height: 465px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: #293241;
}

header{
  text-align: center;
  padding-top:107px;
  margin-bottom: 32px;
}


form{
  width: 750px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 64px;
  margin-bottom: 400px;
  border-radius: 0 0 20px 20px;
}

.introduction{
  margin: 0 auto;
  width: 750px;
  height: 130px;
  background-color: #F67669;
  border-radius: 20px 20px 0 0;
  text-align: center;
  padding: 50px 275px;
}

#email{
  margin-bottom: 32px;
}

.fullname{
  display: flex;
  gap: 22px;
  margin-bottom: 16px;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}

input, select, textarea{
  border: 1px solid #E6E6F0;
  background: #FAFAFC;
  border-radius: 8px;
  padding-left: 8px;
}

input, select{
  height: 56px;
}

input:invalid{
  color: #F67669;
  border: 1px solid #F67669;
}
select{
  margin-bottom: 32px;
  width: 300px;
  appearance: none;
}

textarea{
  height: 167px;
}

.separator{
  border-bottom: 1px solid  #E6E6F0;
  text-align: center;
  padding-bottom: 8px;
  margin-bottom: 31px;
}

.checkbox-wrapper{
  margin-top: 30px;
  margin-bottom: 36px;
}

.checkbox-wrapper label{
  display: flex;
  gap: 8px;
  align-items: center;
  color: #4E4958;
  font-size: 14px;
  line-height: 24px;
}

.checkbox-wrapper label::before{
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  background: #FAFAFC;
}

.checkbox-wrapper input:checked + label::before{

  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Edone_outline%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Icons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Rounded' transform='translate(-780.000000, -244.000000)'%3E%3Cg id='Action' transform='translate(100.000000, 100.000000)'%3E%3Cg id='-Round-/-Action-/-done_outline' transform='translate(680.000000, 142.000000)'%3E%3Cg transform='translate(0.000000, 0.000000)'%3E%3Cpolygon id='Path' points='0 0 24 0 24 24 0 24'%3E%3C/polygon%3E%3Cpath d='M20.47,5.63 C20.86,6.02 20.86,6.64 20.47,7.03 L9.13,18.37 C8.74,18.76 8.12,18.76 7.73,18.37 L3.53,14.17 C3.14,13.78 3.14,13.16 3.53,12.77 C3.92,12.38 4.54,12.38 4.93,12.77 L8.43,16.27 L19.07,5.63 C19.46,5.24 20.08,5.24 20.47,5.63 Z M18.36,3.51 L8.43,13.44 L5.64,10.65 C4.86,9.87 3.59,9.87 2.81,10.65 L1.41,12.05 C0.63,12.83 0.63,14.1 1.41,14.88 L7.01,20.48 C7.79,21.26 9.06,21.26 9.84,20.48 L22.59,7.74 C23.37,6.96 23.37,5.69 22.59,4.91 L21.19,3.51 C20.4,2.73 19.14,2.73 18.36,3.51 Z' id='🔹Icon-Color' fill='%231D1D1D'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

.checkbox-wrapper input:focus + label::before{
  outline: 1px solid black;
}

.checkbox-wrapper input{
  position: absolute;
  height: 24px;
  width: 24px;
  opacity: 0;
}

.date-wrapper{
  display: flex;
}

#date{
  margin-right: 32px;
  width: 300px;
}

#hour-start{
  margin-right: 10px;
}

button{
  width: 622px;
  height: 51px;
  border-radius: 8px;
  padding: 12.5px 286px;
  background-color: #F67669;
  border: 0;
  margin-top: 63px;
  font-size: 20px;
  line-height: 26px;
}
